@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap');
body{
    background-color: #F4F4F4;
  overflow-x: hidden;
    font-family: 'Raleway', sans-serif;
}
.navbar-btn{
    margin-left: 42em;
    user-select: none;
    -webkit-user-drag: none;
}
.hero-img{
    max-width: 45em;
    float: right;
    padding-right: 1em;
    padding-top: 7em;
}
.heroheader1{
    font-family: 'Raleway', sans-serif;
    float: left;
    margin-top: 5em;
    padding-left: 1em;
    font-size: 4em;
}
::-webkit-scrollbar {
    width: 8px;
    background:transparent;
  }
  
  /* Track */
  
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgba(114, 113, 113, 0.308);
    border-radius: 100vh;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(119, 119, 119, 0.616);
  }
.arrow{
    /* animation: jump 0.7s infinite; */
}
@keyframes jump{
    0%{
        margin-top: 1px;
    }
    50%{
        margin-top: 5px;
    }
    100%{
        margin-top: 1px;
    }
}
.navbar-btn2{
    margin-left: 45em;
    user-select: none;
    -webkit-user-drag: none;
}
.sidenav {
  height: 110vh; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #ffffff; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  overflow-y: hidden;
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
.closebtn{
    float: left;
    position: absolute;
    margin-left: 26em;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}